body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: chartreuse;
  margin-top: 10px;

}

.NavLink {
  padding-left: 30px;
  align-items: center;
  padding-right: 30px;
  
}

#genrebutton {
  margin-top: 25px;
}

.playlistbutton {
  margin-top: 10px;
  margin-bottom: 25px;
}

#header {
  background-color: chartreuse;
}

.aboutus {
  margin-left: 10%;
  margin-right: 10%;
}

.buffer {
  height: 100px;
}

.randombutton {
  background-color: black;
  color: whitesmoke;
  border-radius: 3px;
  border-color: black;
  
}
.background {
  background-color: rgba(128, 255, 0, 0.554);
  margin-top: 10px;
}

.playlistbutton {
  margin: 10px;
}

